* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #234957;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 60vw;
  border: 2px solid #108d7d;
  border-radius: 10px;
}

label {
  font-size: 2rem;
  padding: 5px;
  color: white;
}

.input-container {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  width: 40px 5% 20px;
}

#url {
  flex: 1;
  padding: 10px;
  border-radius: 30px;
  border: 2px solid #011a16;
}

#url::placeholder {
  text-align: center;
  font-size: 14px;
}

button {
  padding: 10px;
  border-radius: 50px;
  border: 2px solid #011a16;
  background-color: #108d7d;
  color: white;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.2s ease;
}

button:hover {
  background-color: #0e6b5c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

#result {
  padding-top: 1rem;
  display: block;
  flex-direction: column;
  color: white;
}

p {
  color: whitesmoke;
  text-align: center;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  body {
    padding-top: 2rem;
  }

  .container {
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    width: 90vw;
  }

  label {
    font-size: 1.4rem;
  }

  #url {
    padding: 8px;
  }

  button {
    padding: 8px;
  }

  p {
    text-align: center;
    font-size: 0.9rem;
  }

  #result {
    text-align: center;
    font-size: 12px;
  }
}
